<section id="certifications" class="py-12 bg-white">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="max-w-2xl text-start">
        <h1 class="text-3xl sm:text-5xl font-bold mb-5">Certifications</h1>
      </div>
    </div>
    <div class="container mx-auto px-6">
      <div class="relative">
        <button (click)="prevSlide()" class="absolute left-0 top-1/2 transform -translate-y-1/2 z-10">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
        <div #slider class="flex overflow-x-auto hide-scroll-bar space-x-4">
          <div *ngFor="let cert of certifications" class="flex-none w-80 lg:w-96 transition-transform transform hover:scale-105">
            <div class="card">
              <h3>{{ cert.course }}</h3>
              <p>Instructor: {{ cert.instructor }}</p>
              <p>Provider: {{ cert.provider }}</p>
              <p>Duration: {{ cert.duration }}</p>
              <a [href]="cert.link" target="_blank">View Certificate</a>
            </div>
          </div>
        </div>
        <button (click)="nextSlide()" class="absolute right-0 top-1/2 transform -translate-y-1/2 z-10">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </button>
      </div>
    </div>
  </section>
  