<div
  class="background flex flex-col md:flex-row items-center justify-center w-full min-h-screen px-4 py-16 md:py-0"
>
  <div class="text-start mx-5 md:ml-32 md:mr-20 p-5 md:p-0">
    <h1 class="text-5xl font-bold text-black">Hi!</h1>
    <h1 class="text-3xl md:text-5xl font-bold mt-2 text-black">
      I'm
      <span class="relative w-[max-content] whitespace-nowrap before:absolute before:inset-0 before:animate-typewriter before:bg-white after:absolute after:inset-0 after:w-[0.125em] after:animate-caret after:bg-black">
        {{ data.name }}
      </span>
    </h1>
    <h1 class="text-xl md:text-2xl font-bold mt-2 text-slate-600">{{ data.role }}</h1>
    <p class="text-gray-900 mt-4 text-base md:text-lg">
      {{ data.description }}
    </p>
    <div class="flex justify-start space-x-4 mt-6">
      <a
        href="{{ data.github }}"
        target="_blank"
        rel="noreferrer"
        class="text-gray-600 hover:text-blue-600 transition-colors duration-200"
      >
        <img
          class="w-8 h-8 md:w-10 md:h-10"
          src="https://img.icons8.com/?size=100&id=3tC9EQumUAuq&format=png&color=000000"
          alt="GitHub logo"
        />
      </a>
      <a
        href="{{ data.linkedin }}"
        target="_blank"
        rel="noreferrer"
        class="text-gray-600 hover:text-blue-600 transition-colors duration-200"
      >
        <img
          class="w-8 h-8 md:w-10 md:h-10"
          src="https://img.icons8.com/?size=100&id=8808&format=png&color=000000"
          alt="LinkedIn logo"
        />
      </a>
      <a
        href="{{ data.mail }}"
        target="_blank"
        rel="noreferrer"
        class="text-gray-600 hover:text-blue-600 transition-colors duration-200"
      >
        <img
          class="w-8 h-8 md:w-10 md:h-10"
          src="https://img.icons8.com/?size=100&id=53435&format=png&color=000000"
          alt="Mail logo"
        />
      </a>
      <a
        href="{{ data.twitter }}"
        target="_blank"
        rel="noreferrer"
        class="text-gray-600 hover:text-blue-600 transition-colors duration-200"
      >
        <img
          class="w-8 h-8 md:w-10 md:h-10"
          src="https://img.icons8.com/?size=100&id=8824&format=png&color=000000"
          alt="Twitter logo"
        />
      </a>
    </div>
  </div>
  <img
    class="w-40 h-40 hidden md:block md:static md:w-52 md:h-52 mt-8 md:mt-0 md:mr-32 rounded-2xl -rotate-6 shadow-lg border-white"
    src="https://i.pinimg.com/originals/8d/4c/40/8d4c404b1fc27606e8f37e8d01bd8f49.jpg"
    alt="Profile"
  />
</div>
<app-about/>
<app-certifications/>
<app-achievements/>
<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
      <figure class="max-w-screen-md mx-auto">
          <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
          </svg> 
          <blockquote>
              <p class="text-lg md:text-2xl font-medium text-gray-900 dark:text-white">"Whatever you want to do, do with full passion and work really hard towards it. Don't look anywhere else."</p>
          </blockquote>
          <figcaption class="flex items-center justify-center mt-6 space-x-3">
              <img class="w-6 h-6 md:w-8 md:h-8 rounded-full" src="https://i.pinimg.com/564x/ed/fa/c3/edfac3690e7e882b5101786d6fb93110.jpg" alt="profile picture">
              <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                  <div class="pr-3 text-sm md:text-base font-medium text-gray-900 dark:text-white">Virat Kohli</div>
                  <div class="pl-3 text-xs md:text-sm font-light text-gray-500 dark:text-gray-400">Professional Cricketer</div>
              </div>
          </figcaption>
      </figure>
  </div>
</section>